<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630459849333-6k5ovh4oror7qfmhv69v1nltllhbshf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630459849333-6k5ovh4oror7qfmhv69v1nltllhbshf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBz-1EBjbmrd0wY_fZQLWqQPebQxQiUeYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>630459849333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.jstted.Musique</string>
	<key>PROJECT_ID</key>
	<string>musique-9c181</string>
	<key>STORAGE_BUCKET</key>
	<string>musique-9c181.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630459849333:ios:0c5b2c99f216f6bf3fb63c</string>
</dict>
</plist>